/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license{
    border: 2px solid black;
    border-radius: 24px;
    padding: 24px;
    width: 700px;
    background: linear-gradient(to bottom right, #fdcc73, #ed8c4f);
}
content{
    vertical-align: top;
}
h1{
    font-size: 60px;
    color: navy;
    margin-top: 10px;
    margin: 0px;
}
#right-side{
    width: 35%;
}
h4{
    background-color: darkblue;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    margin: 0px;
}
#id-and-expiration div{
    display: inline-block;
    color: navy;
    margin: 8px;
}
#id-and-expiration span{
    color: red;
    font-weight: bold;
}
#address{
    font-weight: bold;
    font-size: 18px;
    margin: 9px
}
#small-pic, #data-fields{
    display: inline-block;
}
#small-pic img{
    width: 90px;
    opacity: 50%;
}
#signature{
    text-align: center;
    font-family: "Ms. Madi", cursive;
    font-size: 28px;
    font-weight: bold;
}
#data-left, #data-right{
    display: inline-block;
    color: navy;
    margin: 8px;
}
#data-fields span{
    color: red;
    font-weight: bold;
}
#right-side img{
    width: 100%;
}
#donor-and-real-id{
    text-align: center;
    padding-top: 4px;
}
#donor-and-real-id div{
    display: inline-block;
    text-align: right;
}
#donor{
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    padding-right: 24px;
}
#real-id{
    display: inline-block;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding: 4px;
    background-color: gold;
}
#real-id i{
    color: white;
}