/*MAINPAGE*/

*{ 
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: apple chancery;
    background-image: url(../images/bkgimg.jpg);
}
#centered-columns{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    -50deg,
    #132F20,
    #144141,
    #698CA1
    );
    height: 350px;
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
#info p{
    color: #B3EAEF;
}
#info h2{
    color: #FFFFFF;
}
#info a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width:100%;
    padding: 10px;
    text-align: center;
    border: 0px solid #498A90;
    background-color:transparent;
    transition: 
        background-color .5s,
        color .5s;
}
#menu h4{
    padding: 12px;
}
#menu{
    position: relative;
}
#menu ul{
    padding: 0px;
}
#menu li{
    font-size: medium;
    text-align: center;
    list-style-type: none;
}
#menu .card4{
    left: -50px;
    min-width: 200px;
    position: absolute;
    background-color: white;
    border: 1px solid #231F20;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #231F20;
    margin: -30px 0px 0px 0px;
    padding: 15px 2px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}
#menu:hover .card4{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    background-color: #144141;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
}
#menu .card4 li:hover{
    opacity: 100%;
    visibility: visible;
    transform: translateY(0px);
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: 12px;
}
#menu .card4 li:hover a{
    color: #FFFFFF;
}
#navbar{
    background:#689CA1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 0px 10px 30px rgb(73, 138, 144);
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}
#navbar a{
    text-decoration: none;
    color: #231F20;
    font-weight: bolder;
    padding: 24px;
}
#navbar a:hover{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 24px;
    transform: translateY(-5px);
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}
#navbar .cta-button:hover{
    color: #689CA1;
}
#navbar img{
    width: 200px;
    padding: 14px 24px;
}
#navbar #logo{
   margin-right: auto;
}
#navbar .cta-button{
  background-color: #144141;
  color: #FFFFFF;
  border-radius: 36px;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
  text-align: center;
  margin-right: 24px;
}
#mainpage{
    background-size: cover;
    height: 50vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainpage .container{
    width: max-content;
    margin: 0px;
    padding-bottom: 0px;
    text-align: center;
}
#mainpage h1{
    font-size: 70px;
    margin: 0px;
    text-align: center;
}
#mainpage p{
    margin: 10px 20px 35px;
    text-align: center;
}
#mainpage a{
    margin: 20px;
    border: 2px solid #144141;
    border-radius: 18px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    transition:
        background-color 0.5s,
        color 0.5s
    ;
}
#mainpage a:hover {
    background-color: #498A90;
    text-align: center;
}
#centered-column{
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    gap: 36px;
    justify-content: center;
}
.card{
    width: 350px;
    border-radius: 15px;
    box-shadow: -4px 4px 12px #498A90;
    background: linear-gradient(
    -50deg,
    #132F20,
    #144141,
    #698CA1
    );
    display: flex;
    flex-direction: column;
    color:  #FFFFFF;
    text-align: center;
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card h2{
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: center;
}
.card p{
    font-size: 18px;
    flex: 1;
    padding: 15px;
    text-align: center;
    color: rgb(179, 234, 239);
}
.card a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width:100%;
    padding: 10px;
    text-align: center;
    border: 0px solid #498A90;
    background-color:transparent;
    transition: 
        background-color .5s,
        color .5s;
}
.card a:hover{
    background-color: #498A90;
    color: #231F20;
    border-radius: 0px 0px 12px 12px ;
}
#footer{
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    padding: 0px;
    margin-top: 10px;
}